{% extends 'common.html' %} 
{% load static %} 
{% block title %} Artist Portal || About us{% endblock %}
{% block content %}
<!-- pages-title-start -->
		<section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">About Us</h2>
                            <p><a href="#">Home</a> | About Us</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		<!-- pages-title-end -->
		<!-- about content section start -->
        <section class="main_shop_area">
            <div class="breadcrumbs">
                <div class="container">
                    <div class="row">
                        <div class="about-us-all">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="about-optima-img">
                                    <img class="primary-image" src="{% static 'images/about/About.jpg' %}" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="about-optima-text">
                                    <h1>
                                        About  
                                        <strong>Artist Portal</strong>
                                    </h1>
                                    <p>In today’s world of growing talents there are many upcoming artists near us who are unrecognized. Our website is a platform to such rising , hidden and unemployed artists.Artists from various places upload their works on our website and we make those works available to the needy customers. You can find all the types of Art works like (Dance, Painting, Music, Photography etc.) on a single platform.
                                    </p>
                                    <p>The main motive of our website is to promote the Talented Artists and provide the best Artists to our Customers to fulfill their requirements.</p>
                                    <ul>
                                        <li>We love artists that work perfectly and arts that look beautiful.</li>
                                        <li>We encourage the rising talents.</li>
                                        <li>We keep the customers as our top Priority.</li>
                                    </ul>
                                   
                            </div>
                        </div>
                    </div>
                    

{% endblock %}