{% extends 'common.html' %}
{% load static %}
{% block title %} Artist Portal || Home {% endblock %}
{% block content %}
        <!-- slider-section-start -->
        <section class="slider-main-area">
              <div class="main-slider an-si">
                <div class="bend niceties preview-2 hm-ver-1">
                    <div id="ensign-nivoslider-2" class="slides">	
                        <img src="{% static 'images/slider/Home.png' %}" alt="" title="#slider-direction-3"  />
                    </div>
                    <!-- direction 1 
                   <div id="slider-direction-3" class="t-cn slider-direction Builder">
                        <div class="slide-all">
                           layer 1 
                            <div class="layer-1">
                                <h2 class="title5">new collection</h2>
                            </div>
                             layer 2 
                            <div class="layer-2">
                                <h2 class="title6">Men’s Fashion</h2>
                            </div>
                             layer 2 
                            <div class="layer-2">
                                <p class="title0">Save Up To 40% Off</p>
                            </div>
                             layer 3 
                            <div class="layer-3">
                                <a class="min1" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div> 
                    <div id="slider-direction-1" class="t-cn slider-direction Builder">
                        <div class="slide-all slide2">
                             layer 1 
                            <div class="layer-1">
                                <h2 class="title5">new collection</h2>
                            </div>
                            layer 2 
                            <div class="layer-2">
                                <h2 class="title6">Women’s Fashion</h2>
                            </div>
                             layer 2 
                            <div class="layer-2">
                                <p class="title0">Save Up To Off</p>
                            </div>
                             layer 3 40% 
                            <div class="layer-3">
                                <a class="min1" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>-->
			  <!--  </div>
            </div>-->
        </section>
		<!-- slider section end -->
        <!-- collection section start -->
		<div class="banner-area">
            <div class="container">
                <div class="section-padding1">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="banner-box banner-box-re">
                                <a href="#">
                                    <img alt="" src="{% static 'images/banner/music.jpg' %}">
                                    <div>
                                        
                                        <p>Music can Heal the Wounds, that Medicine cannot Touch.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="banner-box res-btm">
                                <a href="#">
                                    <img alt="" src="{% static 'images/banner/poet.jpg' %}">
                                    <div>
                                        
                                        <p>Poetry is the Rhythmical creation of Beauty in Words.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="banner-container banner-box res-btm">
                                <a href="#">
                                    <img alt="" src="{% static 'images/banner/dance.jpg' %}">
                                    <div>
                                        
                                        <p>The Job of Feet is Walking, but their Hobby is Dancing.</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="banner-box banner-box-re">
                                <a href="#">
                                    <img alt="" src="{% static 'images/banner/paint.jpg' %}">
                                    <div>
                                        
                                        <p>I Dream of Painting and then I Paint my Dream.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="banner-box">
                                <a href="#">
                                    <img alt="" src="{% static 'images/banner/photo.jpg' %}">
                                    <div>
                                        
                                        <p>When I have a Camera in my hand, I have no Fear .</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- collection section end -->
        <!-- new-products section start -->
		

{% endblock %}